@charset "UTF-8";
/* color de textos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  color: white;
  font-family: 'Montserrat-Regular',Arial,Helvetica,sans-serif; }

a {
  text-decoration: none;
  color: white; }

/* estilos para acompañar bootstrap */
.bg-gradient1 {
  background-image: linear-gradient(225deg, #7a7cc7 0, #24459b 50%, #001871 100%); }

.bg-gradient2 {
  background-image: linear-gradient(225deg, #d57578 0, #cc6673 16.67%, #be536a 33.33%, #ad3b5f 50%, #9b1f55 66.67%, #8b0050 83.33%, #7e004e 100%); }

.shadow-1 {
  box-shadow: 10px 10px 0px 2px #646FD4; }

.shadow-2 {
  box-shadow: 0px 0px 20px 0px #646FD4; }

/* servicios card index*/
.move {
  transition: 0.3s;
  min-height: 100%; }
  .move:hover {
    transform: translateY(-20px); }

/*  uso de pseudo elemento */
.tarjeta::before {
  position: absolute;
  content: '';
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5); }

/* animacion menu bootstrap */
.menu__logo {
  margin: 10px 10px;
  max-width: 100%; }

.navbar-nav a {
  transition: 0.3s; }
  .navbar-nav a:hover {
    border-bottom: solid;
    border-color: #ad3c60;
    color: #ad3c60;
    transform: translateY(-2px); }

.button__contact {
  margin: 0px 10px 10px 0px;
  border-radius: 10px;
  background-color: transparent;
  box-shadow: 5px 5px 0px 1px white;
  border: solid;
  border-color: white;
  padding: 10px;
  border-width: 1px;
  transition: .3s; }
  .button__contact:hover {
    background-color: white;
    border-color: #646FD4;
    transform: translateY(-10px); }
  .button__contact-a {
    color: white; }
    .button__contact-a:hover {
      color: #646FD4; }

.button__whatsapp {
  border-radius: 10px;
  box-shadow: 5px 5px 0px 1px #0bc20b;
  background-color: green;
  border: solid;
  border-color: #0bc20b;
  padding: 10px;
  border-width: 1px;
  transition: .3s; }
  .button__whatsapp:hover {
    background-color: white;
    transform: translateY(-10px); }
  .button__whatsapp-aw {
    color: white; }
    .button__whatsapp-aw:hover {
      color: #0bc20b; }

/* Animaciones botones index */
/*  estilos Formulario */
.contact__form {
  border: solid;
  border-color: white;
  border-width: 1px;
  box-shadow: 10px 10px 0px 0px white;
  background-color: #242F9B;
  margin-bottom: 40px;
  border-radius: 10px; }

.user {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  .user__inputbox {
    margin: 10px 0px 10px 0px;
    width: calc(100% / 2 - 20px); }
    .user__inputbox input {
      font-family: 'Montserrat', sans-serif;
      border: solid;
      border-radius: 10px;
      border-color: white;
      height: 45px;
      width: 100%; }
    .user__inputbox-details {
      font-weight: 1000; }
  .user__textbox {
    margin: 10px 0px 10px 0px;
    width: 100%; }
    .user__textbox textarea {
      font-family: 'Montserrat', sans-serif;
      border-radius: 10px;
      border: solid;
      border-color: white;
      height: 45px;
      width: 100%; }

/* estilos del formulario select-box */
.select {
  margin: 20px; }
  .select__selectbox {
    margin: 20px; }
    .select__selectbox select {
      font-family: 'Montserrat', sans-serif; }
    .select__selectbox button {
      font-weight: 1000;
      color: #242F9B;
      box-shadow: 5px 5px 0px 1px #DBDFFD;
      border-radius: 10px;
      background-color: #DBDFFD;
      border: solid;
      border-color: #646FD4;
      padding: 10px 40px;
      transition: .3s; }
      .select__selectbox button:hover {
        color: white;
        background-color: #242F9B;
        border-color: white;
        transform: translateY(-10px); }
    .select__selectbox-bold {
      font-weight: 1000; }
