*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Montserrat', sans-serif !important; 
}

body{
    width: 100%;
    color: white;
}

h1{
    font-size: 50px;
    font-style: bold;
}

h2{
    font-size: 30px;
}

h3{
    font-size: 20px;
}

h4{
    font-size: 20px;
}

a{
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 600;
}

span{
    display: none;
}

button{
    font-family: 'Montserrat', sans-serif;
}

/* Inician estilos del menu */

.header{
    background-color: white;
}

.header__menu{
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    align-items: center;
    padding:  20px 0px;
    height: 100px;
}

.menu__logo{
    margin: 10px 10px;
    max-width: 100%;
    max-height: 90px;
}

.menu__navbar{
    display: flex;
}

.menu__navbar li{
    display: inline;
    margin: 0 15px;
}

.menu__navbar li a{
    color: #242F9B;
    font-weight: 600;
}

/* Terminan estilos del navbar */

/* Inician estilos del jumbotron */
.jumbotron{
    background-image: linear-gradient(225deg, #7a7cc7 0, #24459b 50%, #001871 100%);
    height: 500px;
}

.jumbotron__box{
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content:space-between;
    margin: 0 auto;
    align-items: center;
}

.jumbotron__info{
    padding: 50px;
}

.jumbotron__info p{
    margin: 20px 0px;
}

.button__a{
    color: white;
}

.button__aw{
    color: white;
}

.button__contact{
    margin: 0px 10px 10px 0px;
    border-radius: 10px;
    background-color: transparent;
    box-shadow: 5px 5px 0px 1px white;
    border: solid;
    border-color: white;
    padding:10px;
    border-width: 1px;
    transition: .3s;
}

.button__whatsapp{
    border-radius: 10px;
    box-shadow: 5px 5px 0px 1px rgb(11, 194, 11);
    background-color:green;
    border: solid;
    border-color: rgb(11, 194, 11);
    padding:10px;
    border-width: 1px;
    transition: .3s;
}


.jumbotron__image{
    height: 100%;
    max-height: 500px;
}

/* Inician estilos de la seccion Servicios */

.servicios{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.servicios h2{
    text-align: center;
    margin: 30px 0 0 0;
    color: black;
}

.servicios__contenedor{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    text-align: center;
    margin: 0 0 50px 0;
    padding: 20px;
}
 
.contenedor__card{
    background-color: white;
    border-radius: 10px;
    border: solid;
    border-width: 1px;
    border-color: #646FD4;
    box-shadow: 10px 10px 0px 2px #646FD4;
    padding: 40px 20px;
    margin: 15px;
    color: black;
    transition: 0.3s;
}

.contenedor__card img{
    border-radius: 10px;
    max-width: 100%;
    max-height: 100%;
}

.contenedor__card h3{
    padding: 15px 0;
}

.contenedor__card p{
    padding: 15px 0 20px;
}

.contenedor__card a{
    color: black;
    font-weight: 600;
}

/* Inician estilos de la seccion contacto */

.contacto{
    padding: 50px 0px;
    background-image: linear-gradient(225deg, #7a7cc7 0, #24459b 50%, #001871 100%);
}

.contacto__box{
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
    text-align: center;
}

.contacto__info{
    padding: 50px;
}


.contacto__info h3{
    font-style: italic;
    margin: 20px 0px;
}

.contacto__info p {
    font-size: 16px;
    margin: 15px 0px;
}

        /*  estilos Formulario */
.contacto__form{
    display: flex;
    padding: 20px;
    border: solid;
    border-color: white;
    border-width: 1px;
    box-shadow: 10px 10px 0px 0px white;
    background-color: #242F9B;
    max-width: 500px;
    width: 100%;
    font-weight: 500;
    margin-bottom: 40px;
    border-radius: 10px;
}

.user{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.user__inputbox{
    margin: 10px 0px 10px 0px;
    width: calc(100% / 2 - 20px);
}

.user__inputbox input{
    font-family: 'Montserrat', sans-serif;
    border: solid;
    border-radius: 10px;
    border-color: white;
    height: 45px;
    width: 100%;
}

.user__textbox{
    margin: 10px 0px 10px 0px;
    width:100%;
}

.user__textbox textarea{
    font-family: 'Montserrat', sans-serif;
    border-radius: 10px;
    border:solid;
    border-color: white;
    height: 45px;
    width: 100%;
}

.user__inputbox--details {
    font-weight: 1000;
}


        /* estilos del formulario select-box */
.select{
    margin: 20px;
    
}

.select__selectbox{
    margin: 20px;

}

.select__selectbox select{
    font-family: 'Montserrat', sans-serif;
}

.select__selectbox--bold{
    font-weight: 1000;
}

.select__selectbox button{
    font-weight: 1000;
    color: #242F9B;
    box-shadow: 5px 5px 0px 1px #DBDFFD;
    border-radius: 10px;
    background-color: #DBDFFD;
    border: solid;
    border-color: #646FD4;
    padding:10px 40px;
    transition: .3s;
}


/* Inician estilos del footer */
h4{
    margin: 20px 0;
}

.icono{
    margin: 5px;
}

.footer {
    background-image: linear-gradient(225deg, #7a7cc7 0, #24459b 50%, #001871 100%);
    color: white;
}

.footer__section{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px; 
}

/* .footer__info{
    margin: 15px;
} */

.footer__service{
    margin: 15px;
}

.footer__contact{
    margin: 15px;
}

/* .contact__number{
    margin: 15px;
} */

.contact__number a{
    font-size: 18px;
}

.contact__number i{
    font-size: 20px;
}

.contact__number li{
    list-style:none;
    /* margin: 15px 0; */
}

.contact__redes{
    margin: 20px 0;
}

.contact__redes i{
    font-size: 20px;
}

.contact__redes li{
    display: inline;
    margin: 0 5px;
}
/* Terminan los estilos del footer 
--------------------------------------------*/

/* inician estilos de cabecera de "servicios, proyectos y nosotros" */


.cabecera{
    background-image: linear-gradient(225deg, #7a7cc7 0, #24459b 50%, #001871 100%);
    color: white;
}

.cabecera__div{
    width: 100%;
    max-width: 1200px;
    height: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.cabecera h1{
    margin: 0px 10px 30px;
}

/* inicia estilos responsive de la pagina servicios */
/* Terminan estilos de cabecera de "servicios, proyectos y nosotros" 
---------------------------------------------*/

/* inician estilos de la pag "servicios" */

.infoserv{
    color: black;
    max-width: 1000px;
    margin: 0 auto;
}

.infoserv article{
    margin:  50px 0;
    display: flex;
    align-items: center;
    box-shadow: 10px 10px 0px 2px #646FD4;
    border: solid #646FD4 1px;
    border-radius: 10px;
}

.infoserv div{
    padding: 20px;
}

.infoserv article h2{
    margin: 0 0 20px;
    text-align: center;
}

.infoserv article img{
    width: 450px;
    height: 350px;
    border: solid #DBDFFD;
    border-radius: 10px;
}

.boxreverse{
    flex-direction: row-reverse;
}

/* Terminan  estilos de la pag "servicios"
------------------------------------------------ */

/* inician estilos de la pag "Proyectos" */

.empresas{
    width: 100%;
    max-width: 1000px;
    margin: auto;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
}

.empresas div{
    margin: 30px;
}

.empresas div img{
    width: 100%;
}

.logros{
    background-image: linear-gradient(225deg, #d57578 0, #cc6673 16.67%, #be536a 33.33%, #ad3b5f 50%, #9b1f55 66.67%, #8b0050 83.33%, #7e004e 100%);
}

.logros__icons{
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-content:space-around;
}

.logros__icons div{
    margin: 30px 0 40px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.logros__icons i{
    margin: 20px;
    font-size: 30px;
}

.logros__text{
    color: black;
    max-width: 800px;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.logros__text p{
    margin: 30px 0 30px;
}

/* Terminan  estilos de la pag "Proyectos" 
-------------------------------------------------*/

/* inician estilos de la pag "Nosotros" */

.cabecera__nosotros{
    max-width: 1200px;
    height: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cabecera__nosotros--info{
    padding: 0 50px;
}

.cabecera__nosotros--info img{
    border-radius: 15px;
}


.mision{
    max-width: 1200px;
    color: black;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.mision div{
    margin: 50px 30px 70px;
}

.mision h2{
    margin: 20px 0;
}

.nosotrosinf {
    background-image: linear-gradient(225deg, #d57578 0, #cc6673 16.67%, #be536a 33.33%, #ad3b5f 50%, #9b1f55 66.67%, #8b0050 83.33%, #7e004e 100%);
}

.nosotrosinf__box{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nosotrosinf__box div{
    margin: 50px;
}

.nosotrosinf__box h2{
    padding: 0 0 20px;
}

.nosotrosinf__box img{
    border-radius: 10px;
}


/* terminan estilos de la pag "Nosotros" 
-------------------------------------------------*/


/* inician estilos de la pag "Contacto" */

.map {
    display: flex;
    margin: 0 auto 70px;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
    height: 600px;
    color: black;
}

.map h2{
    margin: 40px 0;
}

.map iframe{
    border-radius: 20px;
    width: 90%;
    height: 100%;
    border: none;
    box-shadow: 0px 0px 30px 0px #646FD4;
}

/* Terminan estilos de la pag "Contacto" 
-------------------------------------------------*/


/* Responsive design tablet 768px */
/* mobile last: dise침o de desktop a tablet */
@media (max-width: 768px){
    h1{
        font-size: 30px;
        font-style: bold;
    }

    h2{
        font-size: 24px;
    }

    /* Inicia estilos del menu */

    .header__menu{
        max-width: 100%;
        margin: 0 20px;
    }

    .menu__logo{
        height: 70px;
    }

    /* inicia estilos responsive de jumbotron - index */

    .jumbotron{
        height: 600px;
    }

    .jumbotron__box{
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .jumbotron__info{
        padding: 50px 60px 10px;
    }

    .jumbotron__image{
        height: 100%;
        max-height: 300px;
    }

    /* inicia estilos responsive de seccion servicios - index */
    .servicios__contenedor{
        margin: 0 0 30px;
        padding: 0;
    }
    .contenedor__card{
        padding: 15px;
    }


    /* inicia estilos responsive de la seccion contacto - index */
    .contacto{
        padding: 20px;
    }
    .contacto__box{
        flex-direction: column;
    }

    .contacto__info{
        padding: 30px;
    }

    /* inicia estilos responsive de la pagina servicios */

    .cabecera__div{
        height: 400px;
    }

    .cabecera__div p{
        padding: 0 50px;
    }

    .infoserv article{
        margin: 35px;
        align-items: normal;
    }

    .infoserv article img{
        width: 100%;
        height: 100%;
    }

    /* inicia estilos responsive de la pagina Proyectos */
    .logros__text{
        padding: 0 50px;
    }

    /* inicia estilos responsive de la pagina Nosotros */
    .cabecera__nosotros{
        height: 550px;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .cabecera__nosotros--info{
        padding: 20px 50px;
    }
    
    .cabecera__nosotros--info img{
        height: 100%;
    }

    .nosotrosinf__box{
        flex-direction: column;
        justify-content: center;
    }

    .nosotrosinf__box div{
        margin: 20px 50px;
    }

    .nosotrosinf__box img{
        height: 100%;
    }
}

/* Responsive design mobile 425px */
/* mobile last: dise침o de desktop a mobile */
@media (max-width: 480px){
    h1{
        font-size: 24px;
        font-style: bold;
    }

    h2{
        font-size: 24px;
    }

    h3{
        font-size: 18px;
    }

    h4{
        font-size: 18px;
    }

    /* estilos para mobile del menu */
    .menu__navbar{
        display: none;
    }

    span{
        display: inline-block;
        font-size: 20px;
        color: black;
        font-size: 30px;
    }

    /* estilos para mobile del jumbotron - index */
    .jumbotron{
        height: 700px;
    }

    .jumbotron__info{
        padding: 50px 40px 10px ;
    }

    .jumbotron__image{
        height: 100%;
    }

    .button__contact{
        margin: 20px;
    }

    /* estilos para mobile de la seccion servicios - index */
    .servicios__contenedor{
        grid-template-columns: 1fr;
        margin: 0 30px 30px;
    }

    .contenedor__card{
        padding: 30px;
    }

    /* Estilos en mobile para el footer */

    .footer__section{
        grid-template-columns: 1fr;
    }

    .footer__info{
        text-align: center;
        margin: 20px 30px;
    }

    /* estilos para mobile de la pagina servicios */

    .infoserv article{
        flex-direction: column;
    }

    .infoserv article img{
        width: 100%;
    }

    .cabecera__div p {
        padding: 0 20px;
    }

     /* estilos para mobile de la pagina Proyectos */
     
     .empresas{
        grid-template-columns: repeat(2, 1fr);
     }

     .logros__icons{
        grid-template-columns: repeat(2,1fr);
     }

     .logros__icons div{
        margin: 30px;
     }

     .logros__text {
        padding: 0 20px;
    }

     /* estilos para mobile de la pagina Nosotros */

     .cabecera__nosotros--info{
        padding: 20px;
     }

     .cabecera__nosotros--info img {
        height: 100%;
        width: 100%;
    }

    .mision {
        flex-direction: column;
    }

    .mision div{
        margin: 20px;
    }

    .nosotrosinf__box img{
        height: 100%;
        width: 350px;            
    }
}
    

/*  Animaciones para el sitio */
/* Animaci칩n de cursor en el menu */

.menu__navbar a:hover{
    border-bottom: solid;
    border-color: #ad3c60;
    color: #ad3c60;
}


/* Animaciones botones index */
.button__contact:hover{
    background-color: white;
    border-color: #646FD4;
    transform: translateY(-10px);
}

.button__a:hover{
    color: #646FD4;
}

.button__whatsapp:hover{
    background-color:white;
    transform: translateY(-10px);
}

.button__aw:hover{
    color: rgb(11, 194, 11);
}

/* Animaciones boton form */
.select__selectbox button:hover{
    color: white;
    background-color: #242F9B;
    border-color: white;
    transform: translateY(-10px);
}

.contenedor__card:hover{
    transform: translateY(-20px);
}

/* Color primario
color:#242f9b ;

Color secundario
color:#646fd4 ;

Color tercero
color:#ad3c60 ; */

/* estilos para acompa침ar bootstrap */


.bg-gradient1{
    background-image: linear-gradient(225deg, #7a7cc7 0, #24459b 50%, #001871 100%);
}

.bg-gradient2{
    background-image: linear-gradient(225deg, #d57578 0, #cc6673 16.67%, #be536a 33.33%, #ad3b5f 50%, #9b1f55 66.67%, #8b0050 83.33%, #7e004e 100%);
}

.shadow-1{
    box-shadow: 10px 10px 0px 2px #646FD4;
}

.shadow-2{
    box-shadow: 0px 0px 20px 0px #646FD4;
}

.contact__form{
    border: solid;
    border-color: white;
    border-width: 1px;
    box-shadow: 10px 10px 0px 0px white;
    background-color: #242F9B;
    margin-bottom: 40px;
    border-radius: 10px;
}

.font1{
        font-family: 'Montserrat', sans-serif !important; 
}

/* servicios card index*/
.move{
    transition: 0.3s;
    min-height: 100%;
}

.move:hover{
    transform: translateY(-20px);
}

/* animacion menu bootstrap */
.navbar-nav a{
    transition: 0.3s;
}

.navbar-nav a:hover{
    border-bottom: solid;
    border-color: #ad3c60;
    color: #ad3c60;
    transform: translateY(-2px);
}

.jumbotron__img{
    width: 400px;
    height: 300px;
}


