/*  estilos Formulario */
.contact__form {
    border: solid;
    border-color: $txWhite;
    border-width: 1px;
    box-shadow: 10px 10px 0px 0px $txWhite;
    background-color: #242F9B;
    margin-bottom: 40px;
    border-radius: 10px;
}

.user{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 

    &__inputbox {
        margin: 10px 0px 10px 0px;
        width: calc(100% / 2 - 20px);

        input{
            font-family: 'Montserrat', sans-serif;
            border: solid;
            border-radius: 10px;
            border-color: white;
            height: 45px;
            width: 100%;
        }

        &-details {
            font-weight: 1000;
        }
        
    }

    &__textbox{
        margin: 10px 0px 10px 0px;
        width:100%;

        textarea{
            font-family: 'Montserrat', sans-serif;
            border-radius: 10px;
            border:solid;
            border-color: white;
            height: 45px;
            width: 100%;
        }
    }
}

        /* estilos del formulario select-box */
        .select{
            margin: 20px;
            
            &__selectbox{
                margin: 20px;
        
                select{
                    font-family: 'Montserrat', sans-serif;
                }
        
                button{
                    font-weight: 1000;
                    color: #242F9B;
                    box-shadow: 5px 5px 0px 1px #DBDFFD;
                    border-radius: 10px;
                    background-color: #DBDFFD;
                    border: solid;
                    border-color: #646FD4;
                    padding:10px 40px;
                    transition: .3s;
        
                    &:hover{
                        color: white;
                        background-color: #242F9B;
                        border-color: white;
                        transform: translateY(-10px);
                    }
                }
                
                &-bold{
                    font-weight: 1000;
                }
            }
        }

// .user__inputbox{
//     margin: 10px 0px 10px 0px;
//     width: calc(100% / 2 - 20px);
// }

// .user__inputbox input{
//     font-family: 'Montserrat', sans-serif;
//     border: solid;
//     border-radius: 10px;
//     border-color: white;
//     height: 45px;
//     width: 100%;
// }

// .user__textbox{
//     margin: 10px 0px 10px 0px;
//     width:100%;
// }

// .user__textbox textarea{
//     font-family: 'Montserrat', sans-serif;
//     border-radius: 10px;
//     border:solid;
//     border-color: white;
//     height: 45px;
//     width: 100%;
// }

// .user__inputbox-details {
//     font-weight: 1000;
// }


// .select__selectbox{
//     margin: 20px;
// }

// .select__selectbox select{
//     font-family: 'Montserrat', sans-serif;
// }

// .select__selectbox-bold{
//     font-weight: 1000;
// }

// .select__selectbox button{
//     font-weight: 1000;
//     color: #242F9B;
//     box-shadow: 5px 5px 0px 1px #DBDFFD;
//     border-radius: 10px;
//     background-color: #DBDFFD;
//     border: solid;
//     border-color: #646FD4;
//     padding:10px 40px;
//     transition: .3s;
// }
