/* animacion menu bootstrap */
.menu__logo{
    margin: 10px 10px;
    max-width: 100%;
}

.navbar-nav{
    a{
    transition: 0.3s;

        &:hover{
            border-bottom: solid;
            border-color: #ad3c60;
            color: #ad3c60;
            transform: translateY(-2px);
        }
    }
}

// Botones de jumbotron
.button__contact{
    margin: 0px 10px 10px 0px;
    border-radius: 10px;
    background-color: transparent;
    box-shadow: 5px 5px 0px 1px white;
    border: solid;
    border-color: white;
    padding:10px;
    border-width: 1px;
    transition: .3s;

    &:hover{
        background-color: white;
        border-color: #646FD4;
        transform: translateY(-10px);
    }

    &-a{
        color: white;

        &:hover{
            color: #646FD4;
        }
    }
}


.button__whatsapp{
    border-radius: 10px;
    box-shadow: 5px 5px 0px 1px rgb(11, 194, 11);
    background-color:green;
    border: solid;
    border-color: rgb(11, 194, 11);
    padding:10px;
    border-width: 1px;
    transition: .3s;

    &:hover{
        background-color:white;
        transform: translateY(-10px);
    }

    &-aw{
        color: white;

        &:hover{
            color: rgb(11, 194, 11);
        }
    }
}

// .jumbotron__img{
//     width: 400px;
//     height: 300px;
// }


// .button__a{
//     color: white;
// }

// .button__aw{
//     color: white;
// }


/* Animaciones botones index */
// .button__contact:hover{
//     background-color: white;
//     border-color: #646FD4;
//     transform: translateY(-10px);
// }

// .button__a:hover{
//     color: #646FD4;
// }

// .button__whatsapp:hover{
//     background-color:white;
//     transform: translateY(-10px);
// }

// .button__aw:hover{
//     color: rgb(11, 194, 11);
// }
