/* animacion menu bootstrap */
.menu__logo{
    margin: 10px 10px;
    max-width: 100%;

}

.navbar-brand{
    &:hover::after{
        content: ' 🏠 Inicio';
        font-size: small;
    }
}

.navbar-nav{
    a{
    transition: $transicion;

        &:hover{
            border-bottom: solid;
            border-color: #ad3c60;
            color: #ad3c60;
            transform: translateY(-2px);
        }
    }
}

// Botones de jumbotron
@mixin btn-base($colorBtn, $colorShadow, $colorBorder) {
    border-radius: 10px;
    background-color:$colorBtn;
    box-shadow: 5px 5px 0px 1px $colorShadow;
    border: solid;
    border-color: $colorBorder;
    padding:10px;
    border-width: 1px;
    transition: $transicion;

    &:hover{
        background-color:$bg-btn-1;
        transform: translateY(-10px);
    }
}

.button__contact{
    @include btn-base(transparent, white, white);

    &:hover{
        border-color: $color1;
    }

    &-a{
        color: white;

        &:hover{
            color: $color1;

            &::before{
                content: '📧 ';
            }
        }
    }
}


.button__whatsapp{
    @include btn-base($bg-btn-ws, $border-Ws, $border-Ws);

    &-aw{
        color: $txWhite;

        &:hover{
            color: $textWs;

            &::before{
                content: '💬 ';
            }
        }
    }
}

// boton de whatsapp flotante
.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
    font-size:30px;
	box-shadow: 0px 0px 5px $color1;
    z-index:100;

    &:hover{
        background-color: white;
        color: #ad3c60;
    }

    &__icon{
        margin-top:16px;
    }
}
