/* color de textos */
$txWhite: white;
$color1: #646FD4;
$transicion: 0.3s;


/* color de botones */
$bg-btn-1: white;

// Color whatsapp
$bg-btn-ws: green;
$border-Ws: rgb(11, 194, 11);
$textWs:rgb(11, 194, 11);


